.navigation{
    display: flex;
    font-size: larger;
    background-color: orange;
    text-decoration: none;
}
.header{
    text-align: center;
    background-color: orange;
    height: 80px;
    padding-top: 5px;
    font-weight: 300;
}
body{
    background-color: rgb(255, 255, 155);
}
.home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    word-spacing: 5px;
}
.full{
    float: right;
}
.navigation p{
    padding: 7px;
}
.footer{
    text-align: center;
    background-color: orange;
    height:200px;
    padding-top: 20px;
}
#p1{
    margin-right: 20%;
    font-size: x-large;
}
